body{
    margin: 0;
    font-family: sans-serif;
}
section{
    height: 700px;
    width: 100%;

}
h2{
    font-size: 40px;
}
h1{
    font-size: 50px;
    background: linear-gradient(45deg, #fc296f,#fd6eff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.first-section{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.latest-area{
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-33px;
}
.last-section{
    background-image: url("footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -42px;
}
.area{
    width:39%;
    float:left;
    margin-left: 6%;
}
.para{
    margin-top: 100px;
}
a{
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    background: linear-gradient(45deg,#fd6eff, #ff0055);
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
a:hover{
    background: linear-gradient(45deg,#ff0055,#fd6eff);
}
p{
    color: dimgray;
}
.area img{
    width: 100%;
}
.latest-area img{
    width: 100%;
}
.img{
    float:left;
    width: 30%;
    margin-left: 3%;
}
.latest-area h2{
    text-align: center;
}
.last-section h1{
    color: black;
    text-align: center;
}
.last-section h4{
    color: black;
    text-align: center;
}
.last-section p{
    text-align: center;
}
.last-section h3{
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.last{
    background: linear-gradient(45deg, #fc296f,#ff00d4);
    width: 600px;       
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 20px;
    border-radius: 30px;
    transition: 0.4s;
}
.last:hover{
box-shadow: 10px 10px 40px #ff2e74d1;
}
.last h2{
    text-align: center;
    color: white;
}
.last h1{
    text-align: center;
    color: white;
    
}
.contact{

    font-size: 40px!important;

    }
footer{
    background: #760aff24;
padding: 1px;

}
footer p{
    text-align: center;
    color: #5600ff;
}
@media only screen and (max-width: 550px) {
   

    h2{
        font-size: 35px;
    }
    h1{
        font-size: 48px;
        display: block;
        text-align: center;
        background: linear-gradient(45deg, #fc296f,#fd6eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .area{
        width:75%;
        float:none;
        margin-top: 10%;
    }
    section {
        height: 725px;
        width: 100%;
    }
    .latest-area {
        margin-top: 0;
    }
    .last-section{
        margin-top: -100%;
    }
    .last {
        background: linear-gradient(
    45deg
    , #fc296f,#ff00d4);
        width: 400px;
        height: 130px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px 20px;
        border-radius: 30px;
        transition: 0.4s;
    }
    .contact{

    font-size: 25px!important;

    }
    .last h2 {
        text-align: center;
        color: white;
        font-size: 25px;
    }
    .last-section h3 {
        text-align: center;
        width: 450px;
        margin: 0 auto;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }
    a {
        padding: 10px 40px;
        color: white;
        text-decoration: none;
        background: linear-gradient(
    45deg
    ,#fd6eff, #ff0055);
        border-radius: 7px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        margin-left: 36%;
    }
    .first-section {
        background-image: url(header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -10%;
    }
    p {
        color: dimgray;
        text-align: center;
    }
    footer{
        background: #760aff24;
    padding: 1px;

    }
  }